.texo{
    width: 350px;
    height: 300px;
    padding-left: 10px;
    padding-top: 5px;
    
}
.gud{
    padding-left: 50px;
    background-color: black;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}