.work
{
  background-color: #1e1c27;
  color: white;
}
.container
{  
  padding-top: 30px;
}

.footer{
    background-color: #1e1c27 ;
    height: 50px;
}

.card-body p
{   padding: 10px 3px 5px 3px;
    text-align: justify;
}
.disp{
  display: flex;
  flex-direction: column;
}
.disp input{
    margin-bottom: 6px;
    border-radius: 5px;
    
}
.flo{
  display: flex;
  flex-direction: row;
}
label{
  padding: 5px;
  margin: 5px;
}
